<div class="w-full h-fit mx-auto mt-16 flex relative justify-center items-center bg-cover"
    style="background: linear-gradient(180deg, #ffedd5 0%,#fed7aa 20%), url('assets/img/salad.jpeg');background-blend-mode:multiply; background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <img class=" object-cover mx-auto absolute -top-10" src="assets/img/eslogan.png" alt="">
    <div class="w-5/6 mx-auto py-16 flex flex-col lg:flex-row md:flex-row">
        <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-4">
            <!-- info -->
            <div class="flex flex-col items-center">
                <h3 class="text-xl courgette text-emerald-500">Lorem Ipsum<span
                        class="text-3xl text-orange-500 babylonica">!</span></h3>
                <p class="text-center text-md text-zinc-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
                    laboriosam labore dignissimos, soluta molestias aliquid ab. Laudantium enim sed nostrum hic
                    assumenda, temporibus dolorum quibusdam mollitia inventore, repellat dignissimos corrupti.</p>
            </div>

            <!-- contact -->
            <div class="flex flex-col items-center">
                <h3 class="text-xl courgette text-emerald-500">Contacts<span
                        class="text-3xl text-orange-500 babylonica">!</span></h3>
                <ul class="text-center text-md text-zinc-50">
                    <li class="">
                        email: yane4112@gmail.com
                    </li>
                    <li>
                        phone: +53 54822222
                    </li>
                    <li>
                        address: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore pariatur,
                    </li>
                </ul>
            </div>

            <!-- time open -->
            <div class="flex flex-col lg:col-span-1 md:col-span-2 items-center">
                <h3 class="text-xl courgette text-emerald-500">Time open<span
                        class="text-3xl text-orange-500 babylonica">!</span></h3>
                <ul class="text-center text-md text-zinc-50">
                    <li>
                        monday ······························ closed
                    </li>
                    <li>
                        tuesday ··························· 8am-10pm
                    </li>
                    <li>
                        wednesday ························· 8am-10pm
                    </li>
                    <li>
                        thursday ·························· 8am-10pm
                    </li>
                    <li>
                        friday ···························· 8am-10pm
                    </li>
                    <li>
                        saturday ·························· 8am-10pm
                    </li>
                    <li>
                        sunday ···························· 8am-10pm
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
